@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-light: rgb(228, 238, 238);
    --primary-dark: rgb(27, 27, 27);
    --borderColor1: #c2c2c2;
    --borderColor2: #979797;
    --borderColor3: #7e7e7e;
    --headerColor: #071f42;
    --backgroundColor: #0b3775;
    --miss: rgba(158, 245, 170, 0.28);
    --ship: rgb(138, 136, 136);
    --alertRed: rgb(235, 23, 34);
    --successGreen: rgb(17, 192, 17);
  }